#background-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

#form-login {
    width: 400px;
    margin: 5em auto;
}

.logo-login {
    padding: 15px 15px 5px 15px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #339966;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom: 3px solid #339966;
}

#title-form {
    padding: 15px 30px 15px 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-color: #339966;
    border-bottom: 3px solid #339966;
}

#images-logo {
    height: 100px;
    width: 100px;
}

#field-input {
    background-color: #eaeaec;
    padding: 20px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

input {
    padding: 10px;
    border: 0;
}

.lg {
    width: 100%;
    text-align: center;
}

.btn {
    background-color: #339966;
    border-radius: 12px;
    color: white;
    width: 150px;
    margin-left: 100px;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: #28166f;
}